<html>
<head>
<title>Menü Çalışması 1</title>
<style>
	ul
	{
	list-style-type:none;
	margin:auto;
	}

	a
	{
	padding:15px 0;
	display:block;
	color:#FFF;
	text-decoration:none;
	text-align:center;
	width:180px;
	background-color:#666;
	float:left;
	}

	a:hover
	{
	color:white;
	background-color:black;
	text-decoration:none;
	}	
	
</style>
</head>
<body>
	<ul>
	<li><a href="#">Homepage</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Products</a></li>
	<li><a href="#">Services</a></li>
	<li><a href="#">Contact</a></li>
	</ul>

</body>
</html>
